<h1>{{question.question}} </h1>


{% if error_message %} 
	<p> <strong> {{error_message}}</strong></p>
{% endif %}

<form action = "{% url 'polls:vote' question.id %}" method = "post">
{% csrf_token %}

{% for choice in question.choice_set.all %}
	<input type="radio" name = "choice" id = "choice{{forloop.counter}}" value = "{{choice.id}}"/>
	<label for = "choice{{forloop.counter}}">{{choice.choice_text}}</label><br/>
{% endfor %}

{% if prev_question_id != -1 %}
	<a href = "{% url 'polls:detail' prev_question_id %}">prev</a>
{% endif %}

<input type = "submit" value = "Vote" >

{% if next_question_id != -1 %}
	<a href = "{% url 'polls:detail' next_question_id %}">next</a>
{% endif %}
</form>




